<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="dev.unlockmusic.android.app.testing.TestDocumentsProvider"
            android:authorities="dev.unlockmusic.android.test.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:readPermission="android.permission.MANAGE_DOCUMENTS"
            android:writePermission="android.permission.MANAGE_DOCUMENTS" />
    </application>
</manifest>
